{% extends 'admins/base.html' %}
{% load static %}
{% block leftsidebar %}
<div class="row mx-5 text-center">
    <div class="col-12 ">

    <p class='bg-dark text-white p-2'>List of Courses </p>
    
    </div>
    
 </div>


        <div class="row mx-5 text-center">
        <div class="col-12 ">
            <table class="table table-hover bg-white shadow-lg">
            <thead>
                <tr>
                
                <th scope="col">Course ID</th>
                <th scope="col">Course Name</th>
                <th scope="col">Author</th>
                
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for co in cor %}
                <tr>
                <th scope="row">{{co.id}}</th>
                <td>{{co.name}}</td>
                <td>{{co.author}}</td>
                <td>
                <a href="{% url 'editcourse' co.id %}" class="btn btn-info"><i class="fas fa-pen" ></i></a>
                

                    <form action="{% url 'delcourses' co.id %}" method="post" class='d-inline'>
                    {% csrf_token %}
                    
                    <button type="submit" class='btn btn-danger' value='Delete'><i class="far fa-trash-alt    " ></i></button>
                    
                    </form>
                
                </td>
                </tr>
                {% endfor %}
                
                
                
            </tbody>
            </table>
        
        
        </div>
        <div>
    <a href="{% url 'addcourse' %}" class="btn btn-danger box" ><i class="fas fa-plus fa-2x"></i></a>
</div>
    </div>


{% endblock leftsidebar %}