{% extends 'admins/base.html' %}
{% load static %}
{% block leftsidebar %}
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8 bg-white shadow-lg">
           <form action=" {% url 'lesson' %} " method="post" class='mt-3  form-inline d-print-none'>
           {% csrf_token %}
            <div class="form-group mb-3 ml-5">
                <label for="checkid"><b>Enter Course ID:</b></label>
                <input type="text" name="srh" id="checkid" class='form-control ml-3' placeholder="Enter Course ID" onkeypress='isInputNumber(event)' >
                <input type="submit" value="Search" class='btn btn-danger ml-3'>
                
            </div>
           {% if messages %}
            {% for message in messages  %}
                <p {% if message.tags %} class="alert mt-4 ml-2 alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
            {% endfor %}
            {% endif %}
           </form>
            
        
        </div>
        <div class="col-sm-2">
        </div>
    </div>
<div class="row">
        
    <div class="col-12 mt-3">

    
        {% for cors in cor %}
       
        <h4 class='bg-dark text-white p-2 text-center'>Course ID: {{cors.id}} Course Name: {{cors.name}}</h4>
        {% endfor %}
    
    </div>
         {% if les %}
        <div class="col-12 ">
            <table class="table table-hover bg-white shadow-lg">
            <thead>
                <tr>
                
                <th scope="col">Lesson ID</th>
                <th scope="col">Lesson Name</th>
                <th scope="col">Lesson Video Link </th>
                
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for co in les %}
                <tr>
                <th scope="row">{{co.id}}</th>
                <td>{{co.name}}</td>
                <td>{{co.video_link}}</td>
                <td>
                <a href="{% url 'editlessom' co.id %}" class="btn btn-info"><i class="fas fa-pen" ></i></a>
                    <form action="{% url 'dellesson' co.id %}" method="post" class='d-inline'>
                    {% csrf_token %}
                    
                    <button type="submit" class='btn btn-danger' value='Delete'><i class="far fa-trash-alt    " ></i></button>
                    
                    </form>
                
                </td>
                </tr>
                {% endfor %}
                
                
                
            </tbody>
            </table>
        
        
        </div>
    {% endif %}




</div>





    {% if cor %}
    <div>
        <a href="{% url 'addlesson' %}" class="btn btn-danger box" ><i class="fas fa-plus fa-2x"></i></a>
    </div>
    
    {% endif %}
    <script>
        function isInputNumber(evt){
            var ch=String.fromCharCode(evt.which);
            if(!(/[0-9]/.test(ch))){
                evt.preventDefault();
            }
        }
    </script>
{% endblock leftsidebar %}
