
        <div class="col-sm-3 col-md-2 bg-light sidebar py-5 d-print-none shadow-lg border-right ">
        <div class="sidebar-sticky">
            <ul class="nav flex-column ">
            <li class="nav-item">
                <a href=" {% url 'deshboard' %}" class="nav-link {{home}} "><i class="fas fa-tachometer-alt" ></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a href=" {% url 'admincourse' %}" class="nav-link {{cors}}"><i class="fab fa-accessible-icon" ></i> Courses</a>
            </li>
            <li class="nav-item">
                <a href=" {% url 'lesson' %}" class="nav-link {{lesson}}"><i class="fab fa-accessible-icon" ></i> Lessons</a>
            </li>
            <li class="nav-item">
                <a href=" {% url 'students' %}" class="nav-link {{stu}}"><i class="fas fa-users" ></i> Students</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'Contact_Us' %}" class="nav-link"><i class="fas fa-table" ></i> Contact_Us</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'paymentStatus' %}" class="nav-link {{pay}}"><i class="fas fa-table" ></i> Payment Status</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'feed' %}" class="nav-link {{feed}}"><i class="fab fa-accessible-icon" ></i> Feedback</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'changepassword' %}" class="nav-link {{change}}"><i class="fas fa-key" ></i>Change Password</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'adminlogout' %}" class="nav-link"><i class="fas fa-sign-out-alt" ></i> Logout</a>
            </li>

            </ul>
        
        </div>
        
        
        </div>
   