<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSchool</title>

    <link rel="stylesheet" href="{% static 'users/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'users/css/bootstrap.min.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  
     <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    

</head>
<body>
<div class="container-fluid">
    {% block navbar %}
       
    {% endblock navbar %}
    
</div>
<div class="container-fluid">
    {% block stsrtvideo %}
        {% block contact %}
       
        {% endblock contact %}   
    {% endblock stsrtvideo %}
    
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% block msg %}
            {% endblock msg %}
        </div>
    </div>
    
</div>




    
    <script src="{% static 'users/js/jq.js' %}"></script>
    <script src="{% static 'users/js/popper.js' %}"></script>
    <script src="{% static 'users/js/all.min.js' %}"></script>
    <script src="{% static 'users/js/bootstrap.js' %}"></script>
    <script src="{% static 'users/js/custom.js' %}"></script>
</body>
</html>