
<nav class="navbar navbar-expand-lg navbar-dark back pl-4 fixed-top  ">
  <a class="navbar-brand " href="/">E-Pathshala </a>
  <span class="navbar-text" >Learn and Implement</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav pl-2">
      <li class="nav-item active custom-nav">
        <a class="nav-link {{hom}}" href="/">Home </a>
      </li>
      <li class="nav-item custom-nav">
        <a class="nav-link {{coc}}" href="{% url 'course' %}">Courses</a>
      </li>

       <li class="nav-item custom-nav">
        <a class="nav-link" href="#feedback" >Feedback</a>
      </li>
      <li class="nav-item custom-nav">
        <a class="nav-link" href="#contact" >Contact</a>
      </li>

           {% if  'stu_email' in request.session %}
              <li class="nav-item custom-nav">
                 <a class="nav-link" href="{% url 'student_profile' %}" >My Profile</a>
              </li>
               <li class="nav-item custom-nav">
                  <a class="nav-link" href="{% url 'logout' %}" >Logout</a>
                </li>
                {% else %}
                <li class="nav-item custom-nav">
                 <a class="nav-link" href="{% url 'login' %}" class="btn btn-danger mt-4" >Login</a>
             </li>
            <li class="nav-item custom-nav">
             <a class="nav-link" href="{% url 'signup' %}" >SignUp</a>
             </li>
            {% endif %}

       
      
      
      
      
     
     

    </ul>
  </div>
</nav>